https://adventofcode.com/2015/day/15

In [ ]:
input = r'''Sprinkles: capacity 5, durability -1, flavor 0, texture 0, calories 5
PeanutButter: capacity -1, durability 3, flavor 0, texture 0, calories 1
Frosting: capacity 0, durability -1, flavor 4, texture 0, calories 6
Sugar: capacity -1, durability 0, flavor 0, texture 2, calories 8'''

In [ ]:
test_input = r'''Butterscotch: capacity -1, durability -2, flavor 6, texture 3, calories 8
Cinnamon: capacity 2, durability 3, flavor -2, texture -1, calories 3'''

In [ ]:
import re

regex = re.compile(r'(?P<ing>[A-Za-z]+): capacity (?P<cap>-?[0-9]), durability (?P<dur>-?[0-9]), flavor (?P<fla>-?[0-9]), texture (?P<tex>-?[0-9]), calories (?P<cal>-?[0-9])')

In [ ]:
import pandas as pd

def get_stats(input):
  df = pd.DataFrame(columns=['capacity', 'durability', 'flavor', 'texture', 'calories'])

  for line in input.split('\n'):
    mo = regex.fullmatch(line)
    assert mo is not None
    df.loc[mo.group('ing')] = {a: int(b) for a, b in zip(('capacity', 'durability', 'flavor', 'texture', 'calories'), mo.group('cap', 'dur', 'fla', 'tex', 'cal'))}

  return df

In [ ]:
get_stats(input)

             capacity durability flavor texture calories
Sprinkles           5         -1      0       0        5
PeanutButter       -1          3      0       0        1
Frosting            0         -1      4       0        6
Sugar              -1          0      0       2        8

In [ ]:
get_stats(test_input)

             capacity durability flavor texture calories
Butterscotch       -1         -2      6       3        8
Cinnamon            2          3     -2      -1        3

In [ ]:
import numpy as np

def score(ingredient_stats, amounts):
  '''
  amounts is a list with length equal to number of ingredients
  '''
  df = ingredient_stats.drop(columns='calories')
  df = df.mul(amounts, axis=0)
  s = np.maximum(0, df.sum(axis=0))
  return s.product()

print(score(get_stats(input), [1,1,1,1]))
score(get_stats(test_input), [44,56])

24.0

62842880.0

In [ ]:
def amounts_lists_4(total):
  '''for number of ingredients = 4'''
  amountss = []
  for a in range(0, total+1):
    for b in range(0, total+1-a):
      for c in range(0, total+1-a-b):
        d = total - a - b - c
        amountss.append([a,b,c,d])
  return amountss

In [ ]:
def amounts_lists_2(total):
  '''for number of ingredients = 2'''
  amountss = []
  for a in range(0, total+1):
    amountss.append([a,total-a])
  return amountss

In [ ]:
from tqdm import tqdm

stat = get_stats(input)
scores = [score(stat, amount) for amount in tqdm(amounts_lists_4(100))]
max(scores)

100%|██████████| 176851/176851 [05:23<00:00, 547.42it/s]

13882464.0

In [ ]:
len(amounts_lists_4(100))

176851

In [ ]:
df1 = stat["calories"].mul([1,1,1,1], axis=0).sum()
df1

20

In [ ]:
def score2(ingredient_stats, amounts):
  '''
  amounts is a list with length equal to number of ingredients
  '''
  cals = ingredient_stats["calories"].mul(amounts, axis=0).sum()
  if cals!=500:
    return 0
  df = ingredient_stats.drop(columns='calories')
  df = df.mul(amounts, axis=0)
  s = np.maximum(0, df.sum(axis=0))
  return s.product()

print(score2(get_stats(input), [1,1,1,1]))
score2(get_stats(test_input), [40,60])

0

57600000.0

In [ ]:
stat = get_stats(test_input)
scores = [score2(stat, amount) for amount in tqdm(amounts_lists_2(100))]
max(scores)

100%|██████████| 101/101 [00:00<00:00, 2042.62it/s]

57600000.0

In [ ]:
stat = get_stats(input)
scores = [score2(stat, amount) for amount in tqdm(amounts_lists_4(100), position=0, leave=True)]
max(scores)

100%|█████████▉| 176785/176851 [01:21<00:00, 2088.24it/s]


100%|██████████| 176851/176851 [01:21<00:00, 2175.08it/s]

11171160.0