https://adventofcode.com/2015/day/25

In [26]:
input = r'''To continue, please consult the code grid in the manual.  Enter the code at row 2978, column 3083.'''
input_row = 2978
input_col = 3083
first_num = 20151125

In [27]:
from itertools import *
from more_itertools import *
import numpy as np
import networkx as nx
import re
from sympy.ntheory import factorint
from collections import defaultdict
import copy as copy

In [28]:
def next_num(num):
  num = num * 252533
  num = num % 33554393
  return num

def ith_num(first_num, i):
  num = first_num
  for _ in range(i-1):
    num = next_num(num)
  return num

In [29]:
next_num(first_num)

31916031

In [30]:
print(21+6+7+8+9+10)
16+7+8+9+10+11

61

61

The code in place 6,6 is the 21+6+7+8+9+10=61st number.

In [31]:
ith_num(first_num, 61)

27995004

In [32]:
def find_k(r, c):
  d = r + c - 1
  return d*(d-1)//2 + c

In [33]:
find_k(input_row, input_col)

18361853

In [34]:
ith_num(first_num, find_k(input_row, input_col))

2650453